body {
    font-family: 'Source Code Pro', monospace;
}

.name {
    color: #b8dd16!important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700!important;
    /* text-transform: uppercase; */
}

h1, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800!important;
}

a:link, a:visited, a.text-warning:link, a.text-warning:visited {
    font-size: .85rem;
    color: #88aa00!important;
}

a:hover, a:active, a.text-warning:hover, a.text-warning:active {
    font-size: .85rem;
    color: #334400!important;
}