body {
    font-family: 'Source Code Pro', monospace;
}

.name {
    color: #b8dd16!important;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 800!important;
    text-transform: uppercase;
}

h1, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600!important;
}

a:link, a:visited, a.text-warning:link, a.text-warning:visited {
    font-size: .95rem;
    color: #88aa00!important;
}

a:hover, a:active, a.text-warning:hover, a.text-warning:active {
    font-size: .95rem;
    color: #334400!important;
}